<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/images/favico.jpg">
</head>
<body>
  {% include header.html %}
  <main>
    {{ content }}
  </main>
<script>
  function scrollToMain() {
    const intro = document.getElementById('intro');
    if (intro) {
      intro.style.opacity = '0';
      intro.style.pointerEvents = 'none';

      setTimeout(() => {
        intro.style.display = 'none';
        const main = document.getElementById('main-content');
        if (main) {
          main.scrollIntoView({ behavior: 'smooth' });
        }
      }, 500);
    }
  }
</script>
</body>
</html>
